.Input-form {
  padding-left: 225px;
  padding-top: 25px;
  padding-right: 500px;
}
.blocks {
  padding-left: 100px;
  padding-right: 350px;
  float: right;
  display: none;
}
.second-block {
  padding-left: 225px;
  float: left;
}
#humidity {
  float: right;
}
