.Input-form {
  padding-left: 225px;
  padding-top: 25px;
  padding-right: 500px;
}
.blocks {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 350px;
  float: right;
  visibility: hidden;
}
.second-block {
  padding-top: 25px;
  padding-left: 225px;
  float: left;
  /* display: none; */
}
#humidity {
  float: left;
}
#HistoryCast {
  padding-right: 150px;
  float: right;
}
