.Input-form {
  padding-left: 125px;
  padding-top: 25px;
  padding-right: 950px;
}
.blocks {
  padding-left: 125px;
  padding-top: 25px;
  padding-right: 500px;
  float: left;
  display: none;
}
.second-block {
  padding-left: 125px;
  padding-top: 25px;
  padding-right: 500px;
  float: left;
  display: inline;
}
#humidity {
  padding-left: 125px;
  padding-right: 500px;
  /* float: left; */
}
#important-city {
  float: right;
  padding-right: 75px;
}

.list-group.a {
  display: inline-block;
}

#HistoryCast {
  padding-left: 125px;
  padding-top: 25px;
  padding-right: 500px;
  float: left;
  /* display: inline-block; */
}
